---
# defaults file for ansible-role-pgbouncer

pgbouncer_version: 1.7.2
#default inventory groups
pg_group: postgres
pg_master_group: master
pg_standby_group: standby
barman_group: barman

pg_version: 9.4

pg_rpm: #from http://yum.postgresql.org/repopackages.php
  9.4:
    url: http://yum.postgresql.org/9.4/redhat/rhel-6-x86_64/pgdg-centos94-9.4-1.noarch.rpm
  9.5:
    url: https://download.postgresql.org/pub/repos/yum/9.5/redhat/rhel-6-x86_64/pgdg-centos95-9.5-2.noarch.rpm


postgres_password: md53175bce1d3201d16594cebf9d7eb3f9d #postgres

#Databases should be defined in inventory variables
# pg_dbs:
#   lab:
#     owner: postgres
#     password_hash: "{{ postgres_password }}"
#     dbname: lab
#     env: lab
#     bkp_hour: 3
#     bkp_min: 30
