---

#default inventory groups
pg_group: postgres
pg_master_group: master
pg_standby_group: standby
barman_group: barman

pg_version: 9.4

pg_rpm: #from http://yum.postgresql.org/repopackages.php
  9.4:
    url: http://yum.postgresql.org/9.4/redhat/rhel-6-x86_64/pgdg-centos94-9.4-1.noarch.rpm
  9.5:
    url: https://download.postgresql.org/pub/repos/yum/9.5/redhat/rhel-6-x86_64/pgdg-centos95-9.5-2.noarch.rpm

postgres_env:
  PGDATA: /var/lib/pgsql/{{ pg_version }}/data
  LD_LIBRARY_PATH: /ora/instantclient_11_2/ #required for oracle_fdw

# Default Barman Variables
barman_install: true  # run barman-config.yml to install and configure barman
barman_ssh: true  # run barman-ssh.yml to setup ssh credentials between barman and pg hosts
barman_pg_config: true  # run barman-pg-config.yml to configure postgres db settings
barman_version: 1.6.0
